{% include '../common/header.yml.tmpl' %}

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
{% if golang %}
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
{% endif %}
