{% include '../common/header.yml.tmpl' %}

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      github-actions-minor:
        update-types:
          - "minor"
          - "patch"
      github-actions-major:
        update-types:
          - "major"
{% if golang %}
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      gomod-minor:
        update-types:
          - "minor"
          - "patch"
      gomod-major:
        update-types:
          - "major"
{% endif %}
{% if terraform %}
  - package-ecosystem: "terraform"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      terraform-minor:
        update-types:
          - "minor"
          - "patch"
      terraform-major:
        update-types:
          - "major"
{% endif %}
