    name: "Lint"
    uses: orange-cloudavenue/workflows/.github/workflows/go_golangci-lint.yml@main
    with:
      ref: {% raw %}${{ github.ref }}{% endraw %}
      repository: {% raw %}${{ github.repository }}{% endraw %}
