{% include '../common/header.yml.tmpl' %}

name: Plumber

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read
  security-events: write

jobs:
  plumber:
    name: "Plumber CI/CD Security Scan"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@3d3c42e5aac5ba805825da76410c181273ba90b1  #v7.0.1
      - uses: getplumber/plumber@e815e0bff47f9170e8e0a056df0a851124634ae2
        with:
          min-score: A
