{% include '../common/header.yml.tmpl' %}

name: PR All events

on:
  pull_request_target:
    types: [ opened, reopened, synchronize, edited ]


concurrency:
  {#- raw is used to avoid conflicts with the templating engine and github action #}
  group: {% raw %}${{ github.ref }}-${{ github.head_ref }}-pr-all{% endraw %}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  changelog-dependabot:
    name: "Changelog Dependabot"
    uses: orange-cloudavenue/workflows/.github/workflows/changelog_dependabot.yml@main
    secrets:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}

  {# changelog-validation:
    name: "Changelog Validation"
    uses: orange-cloudavenue/workflows/.github/workflows/changelog_validation.yml@main
    secrets:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      {#TOKEN: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %} #}

  pr-size:
    if: github.event.action != 'edited'
    name: "PR Size"
    uses: orange-cloudavenue/workflows/.github/workflows/pr_label_size.yml@main
    with:
      ref: {% raw %}${{ github.ref }}{% endraw %}
      repository: {% raw %}${{ github.repository }}{% endraw %}
    secrets:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      TOKEN: {% raw %}${{ secrets.CHANGELOG_PAT }}{% endraw %}

  pr-conventional-commits:
    if: github.event.action == 'opened' || github.event.action == 'edited'
    name: "Conventional Commits"
    uses: orange-cloudavenue/workflows/.github/workflows/pr_conventional_commits.yml@main
    secrets:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      TOKEN: {% raw %}${{ secrets.CHANGELOG_PAT }}{% endraw %}

  pr-license:
    if: github.event.action != 'edited' && github.event.pull_request.draft == false
    name: "License Check"
    uses: orange-cloudavenue/workflows/.github/workflows/pr_license.yml@main
    with:
      ref: {% raw %}${{ github.ref }}{% endraw %}
      repository: {% raw %}${{ github.repository }}{% endraw %}

{% if golang %}
  golang-ci-lint:
    if: github.event.action != 'edited' && github.event.pull_request.draft == false
    {% include './common/golang/lint.tmpl' %}

  tests:
    if: github.event.action != 'edited' && github.event.pull_request.draft == false
    {% if terraform_provider %}
    {% include './common/golang/unit-test-tf-provider.tmpl' %}
    {% else %}
    {% include './common/golang/unit-test.tmpl' %}

    {% if repo.name == 'cloudavenue-sdk-go-v2' %}
      send-coverage: true
    {% endif %}
    {% endif %}
{% endif %}