{% include '../common/header.yml.tmpl' %}

name: PR Open/Reopen

on:
  pull_request_target:
    types: [ opened, reopened ]

concurrency:
  {#- raw is used to avoid conflicts with the templating engine and github action #}
  group: {% raw %}${{ github.ref }}-${{ github.head_ref }}-changelog{% endraw %}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  auto-assign:
    name: "Auto Assign"
    uses: orange-cloudavenue/workflows/.github/workflows/pr_auto_assign.yml@main
