{% include '../common/header.yml.tmpl' %}

name: Add issue/PR to project

on:
  issues:
    types: [ opened, reopened, transferred, labeled ]
  pull_request:
    types: [ opened, reopened, labeled ]

permissions:
  contents: write
  pull-requests: write

jobs:
  publish-in-project:
    name: "Add issue/PR to project"
    uses: orange-cloudavenue/workflows/.github/workflows/project.yml@main
