{% include '../common/header.yml.tmpl' %}

name: Release Published Golang
on:
  release:
    types:
      - published

permissions:
  contents: read

jobs:
  go-report-card:
    name: "Go report card"
    uses: orange-cloudavenue/workflows/.github/workflows/go_report-card.yml@main

  go-proxy-refresh:
    name: "Go proxy refresh"
    uses: orange-cloudavenue/workflows/.github/workflows/go_proxy-refresh.yml@main