{% include '../common/header.yml.tmpl' %}

name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag version number (Eg: v0.1.0)'
        required: true
        type: string

permissions:
  contents: write

jobs:
  pre-check:
    name: Pre-Check
    uses: orange-cloudavenue/workflows/.github/workflows/tag_check-tag.yml@main
    with:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      tag: {% raw %}${{ github.event.inputs.tag }}{% endraw %}
    secrets:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      TOKEN: {% raw %}${{ secrets.CHANGELOG_PAT }}{% endraw %}

{% if golang %}
  golang-ci-lint:
    needs: [pre-check]
    {% include './common/golang/lint.tmpl' %}

  tests:
    needs: [pre-check]
    {% if terraform_provider %}
    {% include './common/golang/unit-test-tf-provider.tmpl' %}
    {% else %}
    {% include './common/golang/unit-test.tmpl' %}
    {% endif %}
{% endif %}

  tag:
    needs: [golang-ci-lint, tests]
    name: Tag
    uses: orange-cloudavenue/workflows/.github/workflows/tag_create-tag.yml@main
    with:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      tag: {% raw %}${{ github.event.inputs.tag }}{% endraw %}
    secrets:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      TOKEN: {% raw %}${{ secrets.CHANGELOG_PAT }}{% endraw %}

  release-notes:
    needs: [tag]
    name: Release Notes
    uses: orange-cloudavenue/workflows/.github/workflows/release_generate-release-note.yml@main
    with:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      tag: {% raw %}${{ github.event.inputs.tag }}{% endraw %}
    secrets:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      TOKEN: {% raw %}${{ secrets.CHANGELOG_PAT }}{% endraw %}

  make-release:
    needs: [release-notes]
    uses: orange-cloudavenue/workflows/.github/workflows/release_publish-simple-release.yml@main
    with:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      tag: {% raw %}${{ github.event.inputs.tag }}{% endraw %}
      artifact-name: {% raw %}${{ needs.release-notes.outputs.artifact-name }}{% endraw %}
    secrets:
      TOKEN: {% raw %}${{ secrets.CHANGELOG_PAT }}{% endraw %}

  changelog-newversion:
    needs: [make-release]
    uses: orange-cloudavenue/workflows/.github/workflows/changelog_generate-new-version.yml@main
    with:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      tag: {% raw %}${{ github.event.inputs.tag }}{% endraw %}
    secrets:
      {#- raw is used to avoid conflicts with the templating engine and github action #}
      TOKEN: {% raw %}${{ secrets.CHANGELOG_PAT }}{% endraw %}