name: Sync Files
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  sync:
    runs-on: arc-runners
    steps:
      - name: Checkout Repository
        uses: actions/checkout@master
        # Use specific commit SHA because the PR is not merged yet (https://github.com/BetaHuhn/repo-file-sync-action/pull/303)
      - name: Run Repo File Sync Action
        uses: BetaHuhn/repo-file-sync-action@2da9fa866f117b06abec3e4c61c5e96ef86c142f
        with:
          GH_PAT: ${{ secrets.CHANGELOG_PAT }}
          CONFIG_PATH: sync.yml
          COMMIT_PREFIX: "chore:"
          GIT_EMAIL: "github-actions[bot]@users.noreply.github.com"
          GIT_USERNAME: "github-actions[bot]"